<h1>profile index</h1>

<% @profiles.each do |profile| %>
  <p>Name: <%= profile.name %></p>
  <p>Description: <%= profile.description %></p>
  <p>Place of business: <%= profile.place_of_business %></p>
  <p>About me: <%= profile.about_me %> </p>
<% end %>