<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for creating a listing! <%= @user.username %>!</h1>
    <p>We are sure you will get responses soon!</p>
  </body>
</html>