<h1>become a tradie!</h1>


<%# whatever model you want to create a new entry for, the `form_with model:` gives the tradesman.new in the tadesman controller its attributes - so receives instance of tradesman class, like as an object. so when they look at form, the fields are empty - so it's a
new instance. but for edit form - the fields will be populated, so depends what you pass to model as to whether the fields are populated with things.  %>

<%= form_with model: @tradesman, local: true do |form| %>
  <%= form.label :certification %>
  <%= form.file_field :certification %>
  <%= form.submit %>
<% end %>

