.card {
  margin-left: 25px;
  margin-bottom: 10px;
  padding: 10px;
}

.c-body {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.card-container {
  display: flex;
}

.show-card-container {
  display: flex;
  align-items: center;
}