// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-card {
  width: 500px;
}

.new-comment {
  display: flex;
  justify-content: center;
}