<%#this is the actual code that renders the review on the profile %>
<% reviews.each do |review| %>
<p>User <%= review.user.try(:username) %> says: </p> 
  <p> <%= review.body %><p>
  <p>Stars: <%= 'â­' * review.stars %></p>
  <p>Posted at: <%= review.created_at %> </p>
  <br>
<% end %>


