<p>User <%= review.profile.user.username %> says </p> 
  <p> <%= review.body %><p>
  <p>posted at: <%= review.created_at %> </p>
  <br>
  <%# <p>view commentor's profile: <%= link_to "reviewer's profile", profile_path(review.user.profile) %>

